.padd-50{
    padding: 50px 0 !important;
}
.padd-25{
    padding: 25px 0 !important;
}


.nav-brand{
font-size: 34px;
font-weight: 400;
text-transform: capitalize;
color: #0889f3;
text-decoration: none;
}
.nav-brand:hover{
    color: #0889f3;
}
.nav-item a{
    color: black;
}
.nav-item a:hover{
    color: #0889f3;
}

.bi-justify{
    color: black;
    font-size: 30px;
}
.container-one{
    margin-top: 150PX;
}
hr{
    margin: 3rem !important;
}


/* Service Section */
.number{
    float: right;
}
.card-link{
    text-decoration: none;
    color: rgb(46, 46, 46);
}


/* Footer */
.footer {
    border-top: 1px solid #ddd;
 }
 .my-lg-0 {
     margin-top: 0 !important;
 }
 ul.social li {
     display: inline-block;
     margin-left: 6px;
     list-style: none;
 }
 .footer ul.social li a{
     color: #aaa;
     width: 30px;
     display: block;
     text-align: center;
     font-size: 18px;
 }
 .footer ul.social li a:hover{
     color: #0d6efd;
 }
 

/*<form action="">
<input type="text" name="num1" placeholder="Number 1">
<input type="text" name="num2" placeholder="Number 2">
<select name="operator" id="">
    <option>None</option>
    <option>Add</option>
    <option>Subtract</option>
    <option>Multiply</option>
    <option>Divide</option>
</select>
<br>
<button type="submit" name="submit" value="submit">Calculate</button>
</form>
<p>The answer is:</p>

<?php
if (isset($_GET['submit'])) {
    $result1 = $_GET['num1'];
    $result2 = $_GET['num2'];
    $operator = $_GET['operator'];
    switch ($operator) {
        case 'None':
            echo "Select a method";
            break;
        case 'Add':
            echo $result1 + $result2;
            break;
        case 'Subtract':
            echo $result1 - $result2;
            break;
        case 'Multiply':
            echo $result1 * $result2;
            break;
        case 'Divide':
            echo $result1 / $result2;
            break; 
    }
}
?>*/